# git won't try to convert this files
*.pem -text
*.der -text
test/static/**/*.xml -text

pgp-keyrin* text eol=lf
pgp-signatur* text eol=lf
*.pgp -text eol=lf

# These file types can be environment centric
*.msbuild text=auto
*.bat text=auto
*.log text=auto
*.htm text=auto
*.ini text=auto
*.cnf text=auto
*.inf text=auto

# Text files that should be normalized to LF
*.cs text diff=csharp
*.sln text eol=crlf 
*.csproj text eol=crlf

*.js text eol=lf
*.json text eol=lf
*.grpahql text eol=lf
*.sql text eol=lf

*.ami text eol=lf
*.config text eol=lf
*.info text eol=lf
*.sh text eol=lf
*.cmd text eol=lf
*.ps1 text eol=crlf
*.yml text eol=lf
*.ci text eol=lf
.circl* text eol=lf
.docke* text eol=lf
.dron*  text eol=lf

.editorc* text eol=lf
.eslint* text eol=lf
.postcs* text eol=lf

*.html text eol=lf
*.markdown text eol=lf
*.md text eol=lf
*.css text eol=lf
*.less text eol=lf
*.map text eol=lf
*.coffee text eol=lf

.meteor/packages text eol=lf
.meteor/versions text eol=lf
.meteor/release text eol=lf
.meteor/platforms text eol=lf
.meteor/.finished-upgraders text eol=lf

Lib/*  binary
GitHub.Tests.Integration/Resources/*  binary

# Binary files that should not be normalized or diffed
*.png    binary
*.jpg    binary
*.gif    binary

*.pfx    binary
*.snk    binary
*.dll    binary
*.exe    binary
*.lib    binary
*.exp    binary
*.pdb    binary
*.sdf    binary
*.7z     binary
*.svg    binary

# Auto detect text files and perform LF normalization
* text=auto

